
@font-face {
    font-family: "flaticon_fd-icon";
    src: url("../webfonts/flaticon_fd-icon.woff2?a9b3ee6568b3d3305f65d66ff2e62833") format("woff2"),
url("../webfonts/flaticon_fd-icon.woff?a9b3ee6568b3d3305f65d66ff2e62833") format("woff"),
url("../webfonts/flaticon_fd-icon.eot?a9b3ee6568b3d3305f65d66ff2e62833#iefix") format("embedded-opentype"),
url("../webfonts/flaticon_fd-icon.ttf?a9b3ee6568b3d3305f65d66ff2e62833") format("truetype"),
url("../webfonts/flaticon_fd-icon.svg?a9b3ee6568b3d3305f65d66ff2e62833#flaticon_fd-icon") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_fd-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-customer-service:before {
    content: "\f101";
}
.flaticon-phone:before {
    content: "\f102";
}
.flaticon-save-money:before {
    content: "\f103";
}
.flaticon-app-development:before {
    content: "\f104";
}
.flaticon-finance:before {
    content: "\f105";
}
.flaticon-data-collection:before {
    content: "\f106";
}
.flaticon-invention:before {
    content: "\f107";
}
.flaticon-ux-design:before {
    content: "\f108";
}
.flaticon-app-development-1:before {
    content: "\f109";
}
.flaticon-stakeholder:before {
    content: "\f10a";
}
.flaticon-browser-settings:before {
    content: "\f10b";
}
.flaticon-production:before {
    content: "\f10c";
}
.flaticon-lauch:before {
    content: "\f10d";
}
.flaticon-innovation:before {
    content: "\f10e";
}
.flaticon-stakeholder-1:before {
    content: "\f10f";
}
.flaticon-relationship:before {
    content: "\f110";
}
.flaticon-pre-release-access:before {
    content: "\f111";
}
.flaticon-content-creation:before {
    content: "\f112";
}
.flaticon-video-marketing:before {
    content: "\f113";
}

