$flaticon_mycollection-font: "flaticon_mycollection";

@font-face {
    font-family: $flaticon_mycollection-font;
    src: url("./flaticon_mycollection.woff2?2ef58e26b6af115306b126b794c5b473") format("woff2"),
url("./flaticon_mycollection.woff?2ef58e26b6af115306b126b794c5b473") format("woff"),
url("./flaticon_mycollection.eot?2ef58e26b6af115306b126b794c5b473#iefix") format("embedded-opentype"),
url("./flaticon_mycollection.ttf?2ef58e26b6af115306b126b794c5b473") format("truetype"),
url("./flaticon_mycollection.svg?2ef58e26b6af115306b126b794c5b473#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_mycollection-map: (
    "arrow": "\f101",
    "right-up": "\f102",
    "forward": "\f103",
    "exam": "\f104",
    "web-development": "\f105",
    "graphic-design": "\f106",
    "connecy": "\f107",
    "ux-design": "\f108",
    "laptop-code": "\f109",
    "ai": "\f10a",
    "stethoscope": "\f10b",
    "team-leader": "\f10c",
    "social-care": "\f10d",
    "phone-call": "\f10e",
    "star": "\f10f",
    "play-button": "\f110",
    "add-group": "\f111",
    "clock": "\f112",
    "right-arrow": "\f113",
    "open-book": "\f114",
    "online-conference": "\f115",
    "files": "\f116",
    "facebook": "\f117",
    "instagram": "\f118",
    "twitter": "\f119",
    "linkedin": "\f11a",
    "location": "\f11b",
    "calendar": "\f11c",
    "text": "\f11d",
    "arrow-right": "\f11e",
    "right-arrow-1": "\f11f",
    "maps-and-flags": "\f120",
);

.flaticon-arrow:before {
    content: map-get($flaticon_mycollection-map, "arrow");
}
.flaticon-right-up:before {
    content: map-get($flaticon_mycollection-map, "right-up");
}
.flaticon-forward:before {
    content: map-get($flaticon_mycollection-map, "forward");
}
.flaticon-exam:before {
    content: map-get($flaticon_mycollection-map, "exam");
}
.flaticon-web-development:before {
    content: map-get($flaticon_mycollection-map, "web-development");
}
.flaticon-graphic-design:before {
    content: map-get($flaticon_mycollection-map, "graphic-design");
}
.flaticon-connecy:before {
    content: map-get($flaticon_mycollection-map, "connecy");
}
.flaticon-ux-design:before {
    content: map-get($flaticon_mycollection-map, "ux-design");
}
.flaticon-laptop-code:before {
    content: map-get($flaticon_mycollection-map, "laptop-code");
}
.flaticon-ai:before {
    content: map-get($flaticon_mycollection-map, "ai");
}
.flaticon-stethoscope:before {
    content: map-get($flaticon_mycollection-map, "stethoscope");
}
.flaticon-team-leader:before {
    content: map-get($flaticon_mycollection-map, "team-leader");
}
.flaticon-social-care:before {
    content: map-get($flaticon_mycollection-map, "social-care");
}
.flaticon-phone-call:before {
    content: map-get($flaticon_mycollection-map, "phone-call");
}
.flaticon-star:before {
    content: map-get($flaticon_mycollection-map, "star");
}
.flaticon-play-button:before {
    content: map-get($flaticon_mycollection-map, "play-button");
}
.flaticon-add-group:before {
    content: map-get($flaticon_mycollection-map, "add-group");
}
.flaticon-clock:before {
    content: map-get($flaticon_mycollection-map, "clock");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon_mycollection-map, "right-arrow");
}
.flaticon-open-book:before {
    content: map-get($flaticon_mycollection-map, "open-book");
}
.flaticon-online-conference:before {
    content: map-get($flaticon_mycollection-map, "online-conference");
}
.flaticon-files:before {
    content: map-get($flaticon_mycollection-map, "files");
}
.flaticon-facebook:before {
    content: map-get($flaticon_mycollection-map, "facebook");
}
.flaticon-instagram:before {
    content: map-get($flaticon_mycollection-map, "instagram");
}
.flaticon-twitter:before {
    content: map-get($flaticon_mycollection-map, "twitter");
}
.flaticon-linkedin:before {
    content: map-get($flaticon_mycollection-map, "linkedin");
}
.flaticon-location:before {
    content: map-get($flaticon_mycollection-map, "location");
}
.flaticon-calendar:before {
    content: map-get($flaticon_mycollection-map, "calendar");
}
.flaticon-text:before {
    content: map-get($flaticon_mycollection-map, "text");
}
.flaticon-arrow-right:before {
    content: map-get($flaticon_mycollection-map, "arrow-right");
}
.flaticon-right-arrow-1:before {
    content: map-get($flaticon_mycollection-map, "right-arrow-1");
}
.flaticon-maps-and-flags:before {
    content: map-get($flaticon_mycollection-map, "maps-and-flags");
}
