/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_fd-icon";
    src: url("./flaticon_fd-icon.woff2?a9b3ee6568b3d3305f65d66ff2e62833") format("woff2"),
url("./flaticon_fd-icon.woff?a9b3ee6568b3d3305f65d66ff2e62833") format("woff"),
url("./flaticon_fd-icon.eot?a9b3ee6568b3d3305f65d66ff2e62833#iefix") format("embedded-opentype"),
url("./flaticon_fd-icon.ttf?a9b3ee6568b3d3305f65d66ff2e62833") format("truetype"),
url("./flaticon_fd-icon.svg?a9b3ee6568b3d3305f65d66ff2e62833#flaticon_fd-icon") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_fd-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-phone:before {
    content: "\f101";
}
.flaticon-save-money:before {
    content: "\f102";
}
.flaticon-finance:before {
    content: "\f103";
}
.flaticon-invention:before {
    content: "\f104";
}
.flaticon-stakeholder:before {
    content: "\f105";
}
.flaticon-browser-settings:before {
    content: "\f106";
}
.flaticon-production:before {
    content: "\f107";
}
.flaticon-lauch:before {
    content: "\f108";
}
.flaticon-innovation:before {
    content: "\f109";
}
.flaticon-stakeholder-1:before {
    content: "\f10a";
}
.flaticon-relationship:before {
    content: "\f10b";
}
.flaticon-pre-release-access:before {
    content: "\f10c";
}
.flaticon-video-marketing:before {
    content: "\f10d";
}

