$flaticon_fd-icon-font: "flaticon_fd-icon";

@font-face {
    font-family: $flaticon_fd-icon-font;
    src: url("./flaticon_fd-icon.woff2?b85f0d3a4a589e67f8d93380f99a945b") format("woff2"),
url("./flaticon_fd-icon.woff?b85f0d3a4a589e67f8d93380f99a945b") format("woff"),
url("./flaticon_fd-icon.eot?b85f0d3a4a589e67f8d93380f99a945b#iefix") format("embedded-opentype"),
url("./flaticon_fd-icon.ttf?b85f0d3a4a589e67f8d93380f99a945b") format("truetype"),
url("./flaticon_fd-icon.svg?b85f0d3a4a589e67f8d93380f99a945b#flaticon_fd-icon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_fd-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_fd-icon-map: (
    "customer-service": "\f101",
    "phone": "\f102",
    "save-money": "\f103",
    "app-development": "\f104",
    "finance": "\f105",
    "data-collection": "\f106",
    "invention": "\f107",
    "ux-design": "\f108",
    "app-development-1": "\f109",
    "stakeholder": "\f10a",
    "browser-settings": "\f10b",
    "production": "\f10c",
    "lauch": "\f10d",
    "innovation": "\f10e",
    "stakeholder-1": "\f10f",
    "relationship": "\f110",
    "pre-release-access": "\f111",
    "content-creation": "\f112",
    "video-marketing": "\f113",
);

.flaticon-customer-service:before {
    content: map-get($flaticon_fd-icon-map, "customer-service");
}
.flaticon-phone:before {
    content: map-get($flaticon_fd-icon-map, "phone");
}
.flaticon-save-money:before {
    content: map-get($flaticon_fd-icon-map, "save-money");
}
.flaticon-app-development:before {
    content: map-get($flaticon_fd-icon-map, "app-development");
}
.flaticon-finance:before {
    content: map-get($flaticon_fd-icon-map, "finance");
}
.flaticon-data-collection:before {
    content: map-get($flaticon_fd-icon-map, "data-collection");
}
.flaticon-invention:before {
    content: map-get($flaticon_fd-icon-map, "invention");
}
.flaticon-ux-design:before {
    content: map-get($flaticon_fd-icon-map, "ux-design");
}
.flaticon-app-development-1:before {
    content: map-get($flaticon_fd-icon-map, "app-development-1");
}
.flaticon-stakeholder:before {
    content: map-get($flaticon_fd-icon-map, "stakeholder");
}
.flaticon-browser-settings:before {
    content: map-get($flaticon_fd-icon-map, "browser-settings");
}
.flaticon-production:before {
    content: map-get($flaticon_fd-icon-map, "production");
}
.flaticon-lauch:before {
    content: map-get($flaticon_fd-icon-map, "lauch");
}
.flaticon-innovation:before {
    content: map-get($flaticon_fd-icon-map, "innovation");
}
.flaticon-stakeholder-1:before {
    content: map-get($flaticon_fd-icon-map, "stakeholder-1");
}
.flaticon-relationship:before {
    content: map-get($flaticon_fd-icon-map, "relationship");
}
.flaticon-pre-release-access:before {
    content: map-get($flaticon_fd-icon-map, "pre-release-access");
}
.flaticon-content-creation:before {
    content: map-get($flaticon_fd-icon-map, "content-creation");
}
.flaticon-video-marketing:before {
    content: map-get($flaticon_fd-icon-map, "video-marketing");
}
