@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    root-veriable-start
*/
:root {
    scroll-behavior: inherit;

    --fd-font-pr-1: "Urbanist", sans-serif;


    --fd-clr-pr-1: #fc4827;
    --fd-clr-pr-2: #ff392c;

    --fd-clr-sd-1: #ef991f;

    --fd-clr-h-1: #363539;
    --fd-clr-h-2: #282331;
    --fd-clr-h-3: #051133;

    --fd-clr-p-1: #797a84;
    --fd-clr-p-2: #606060;

    --cube-1: cubic-bezier(.57,.21,.69,1.25);
    --cube-2: cubic-bezier(0.31, -0.105, 0.43, 1.4);


}



/* 
    root-veriable-end
*/

$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 767px)';
