
.fd-home-1 {
  .pin-spacer {
    background: #131D1E;
  }
}


.h4-title-letter {
	letter-spacing: -2px;

	@media #{$md,$xs} {
		letter-spacing: 0px;
	}
}

.fd-transition-3 {
	transition: all 1s cubic-bezier(.55,.085,0,.99);
}

.fd-delay-500 {
	transition-delay: 500ms;
}

.fd-delay-1000 {
	transition-delay: 800ms;
}

.fd-delay-1500 {
	transition-delay: 1100ms;
}

.fd-delay-2000 {
	transition-delay: 1400ms;
}

.fd-delay-2500 {
	transition-delay: 1700ms;
}

.fd-delay-3000 {
	transition-delay: 2000ms;
}


.fd-home-5 {
	.section {
		.fd-h5-img-down {
			@media #{$over,$xxxl,$xxl,$xl} {
				transform: translateY(100%);
			}
		}

		.fd-h5-title-ani-1 {
			@media #{$over,$xxxl,$xxl,$xl} {
				transform: translateY(100%);
			}

		}

		.fd-fade-down-1 {
			@media #{$over,$xxxl,$xxl,$xl} {
				transform: translateY(100%);
				opacity: 0;
			}

		}

		&:is(.active) {
			.fd-h5-img-down {
				transform: translateY(0%);
			}


			.fd-h5-title-ani-1 {
				transform: translateY(0%);
			}

			.fd-fade-down-1 {
				transform: translateY(0%);
				opacity: 1;
			}
		}


	}
}


/* 
  spilting-wrating-start
*/
.splitting.animated .char {
  -webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  -webkit-animation-delay: calc(30ms * var(--char-index));
  animation-delay: calc(30ms * var(--char-index));
}

.splitting .whitespace {
  width: 10px;
}

@keyframes fd-bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
/* 
  spilting-wrating-end
*/

