/* 
    blog-2-start
*/

.fd-blog-2 {

    &-img {

        @media #{$md,$xs} {
            margin-bottom: 50px;
        }

        img {
            filter: drop-shadow(0 0px 40px  rgb(0, 0, 0 , 7%));
        }
    }

    &-item {
        &-single {
            margin-bottom: 50px;

            &:not(:last-child) {
                padding-bottom: 45px;
                border-bottom: 4px solid #ececec;
      
            }

            .blog-date {
                background: #6a38c2;
                font-size: 15px;
                padding: 12px 20px;
                border-radius: 30px;
                margin-bottom: 24px;
            }
            
            .blog-title {
                font-size: 45px;
                line-height: 1.22;
                margin-bottom: 10px;
                transition: .3s;

                @media #{$xl} {
                    font-size: 40px;
                }

                @media #{$lg} {
                    font-size: 36px;
                }

                @media #{$md} {
                    font-size: 34px;
                }

                @media #{$xs} {
                    font-size: 28px;
                }
                
                &:hover {
                    color: var(--fd-clr-pr-2);
                    transform: translateX(3px);
                }
            }
        }
    }
}

/* 
    blog-2-end
*/