/* 
    blog-2-start
*/

.fd-blog-2 {

    &-img {

        @media #{$md,$xs} {
            margin-bottom: 50px;
        }

        img {
            filter: drop-shadow(0 0px 40px  rgb(0, 0, 0 , 7%));
        }
    }

    &-item {
        &-single {
            margin-bottom: 50px;

            &:not(:last-child) {
                padding-bottom: 45px;
                border-bottom: 4px solid #ececec;
      
            }

            .blog-date {
                background: #6a38c2;
                font-size: 15px;
                padding: 12px 20px;
                border-radius: 30px;
                margin-bottom: 24px;
            }
            
            .blog-title {
                font-size: 45px;
                line-height: 1.22;
                margin-bottom: 10px;
                transition: .3s;

                @media #{$xl} {
                    font-size: 40px;
                }

                @media #{$lg} {
                    font-size: 36px;
                }

                @media #{$md} {
                    font-size: 34px;
                }

                @media #{$xs} {
                    font-size: 28px;
                }
                
                &:hover {
                    color: var(--fd-clr-pr-2);
                    transform: translateX(3px);
                }
            }
        }
    }
}

/* 
    blog-2-end
*/

/* 
    blog-3-start
*/
.fd-blog-3-item {
    margin-bottom: 30px;

    .item-img {
        height: 280px;
        border-radius: 20px;

        img {
            transition: .3s;
            transform-origin: left;
        }
    }

    .item-date {
        background: #6a38c2;
        font-size: 15px;
        display: inline-block;
        line-height: 28px;
        border-radius: 30px;
        padding: 7px 21px;
        margin-left: 30px;
        transform: translateY(-23px);
    }

    .item-title {
        font-size: 27px;
        line-height: 1.18;
        margin-bottom: 11px;
        transition: .3s;

        @media #{$xl} {
            font-size: 24px;
        }

        @media #{$lg,$md,$xs} {
            font-size: 20px;
        }

        &:hover {
            color: var(--fd-clr-pr-1);
            transform: translateX(3px) ;
        }
    }

    &:hover {
        .item-img {
            img {
                transform: scaleX(105%);
            }
        }
    }
    
}


/* 
    blog-3-end
*/