/* 
    contact-2-start
*/
.fd-contact-2 {
    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 17%);
        z-index: -1;

        @media #{$md,$xs} {
            height: 100%;
        }
    }

    &-form {
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        padding: 70px 60px;

        @media #{$lg} {
            padding: 70px 30px;
        }

        @media #{$xs} {
            padding: 70px 20px;
        }

        @media #{$sm} {
            padding: 70px 50px;
        }

        &-input {
            width: 100%;
            height: 67px;
            border-radius: 10px;
            border: none;
            outline: none;
            background: #ececec;
            padding-right: 20px;
            padding-left: 70px;
            font-size: 15px;
            font-weight: 500;
            color: #2b2424;
            margin-bottom: 10px;
        }

        &-icon {
            position: absolute;
            top: 17px;
            font-size: 18px;
            color: #2b2424;
            left: 30px;
        }

        textarea {
            padding-top: 15px;
            padding-bottom: 15px;
            height: 160px;
        }

        &-btn {
            width: 100%;
            border: none;
            outline: none;
        }
    }

    &-content {
        padding-left: 55px;
        padding-top: 55px;

        @media #{$lg,$md,$xs} {
            padding-left: 0px;
        }
    }

    &-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
        
        &-item {
            display: flex;
            align-items: center;
            gap: 20px;

            .item-shape {
                display: inline-block;
                width: 60px;
                height: 60px;
                flex: 0  0 auto;
                background: var(--fd-clr-pr-2);
                border-radius: 50%;


            }

            .item-title {
                font-size: 24px;
                line-height: 1.08;

                @media #{$xs} {
                    font-size: 22px;
                }
            }
        }
    }

}



/* 
    contact-2-end
*/

/* 
    contact-3-start
*/
.fd-cta-3 {
    &-scn-title {
        
        .scn-disc {
            max-width: 460px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-btn {
        gap: 30px;
    }

}
/* 
    contact-3-end
*/
/* 
    contact-5-start
*/
.fd-contact-5 {
    &-item {
        margin-bottom: 40px;

        .title-icon {
            width: 62px;
            height: 62px;
            background: #5797F9;
            border-radius: 50%;
            color: #fff;
            font-size: 26px;

            &:is(.has-clr-2) {
                background: #73DA9E;
            }

            &:is(.has-clr-3) {
                background: #AC52FB;
            }
        }

        .title-flex {
            gap: 16px;
            margin-bottom: 12px;
        }

        .title-text {
            font-size: 28px;
            line-height: 1.21;
        }

        .item-disc {
            font-size: 20px;
            line-height: 30px;
            color: #A7A6A6;
            margin-bottom: 10px;
        }
        
        .item-link {
            font-size: 20px;
            line-height: 28px;

            a {
                display: inline-block;
                transition: .3s;

                &:hover {
                    color: var(--fd-clr-pr-1);
                }
            }
        }
    }

    &-img {
        height: 610px;
        border-radius: 30px;

        @media #{$lg} {
            height: 500px;
        }

        @media #{$md} {
            height: 400px;
        }

        @media #{$xs} {
            height: 300px;
        }
    }
}

/* 
    contact-5-end
*/

/* 
    contact-6-start
*/
.fd-contact-6 {
    &-scn-title {
        max-width: 885px;
        margin-left: auto;
        margin-right: auto;
    }

    &-map {
        height: 100%;

        @media #{$md,$xs} {
            height: 400px;
            margin-bottom: 30px;
        }

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            filter: grayscale(1);
        }
    }

    &-form {
        .fd-form {
            padding-top: 11px;
            textarea {
                height: 90px;
            }
        }
    }
}

/* 
    contact-6-end
*/