 /* 
    footer-1-start
 */
.fd-footer-1 {
   &-bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
   }

   &-y-line {
      display: block;
      width: 1px;
      height: 100%;
      background: #34337b;
   }

   &-x-line {
      display: block;
      width: 100%;
      height: 1px;
      background: #34337b;
   }


   &-top {
      .top-title {
         font-size: 50px;
         line-height: 1.12;
         margin-bottom: 10px;
      }

      .top-subtitle {
         color: var(--fd-clr-pr-1);
         font-size: 42px;
         line-height: 1.12;
         margin-bottom: 30px;
      }
   }
  


   &-gallery {

      .gallery-title {
         font-size: 22px;
         text-align: center;
         margin-bottom: 20px;
      }

      &-item-wrap {
         display: flex;
         gap: 12px;
      }

      &-item {
         display: block;
         flex: 0 0 auto;
         width: 150px;
         height: 110px;
         border-radius: 10px;
         position: relative;
         z-index: 1;

         &::after {
            content: "view";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background: rgb(0 0 0 / 70%);
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 700;
            letter-spacing: 1.5px;
            opacity: 0;
            transform: scale(1.5);
            transition: .5s;
        }

        &:hover {
         &::after {
            transform: scale(1);
            opacity: 1;
         }
        }
     }
   }
  
   &-widget-wrap {
      display: grid;
      grid-template-columns: 1.8fr auto 1fr 1fr 0.7fr 2.5fr;
      gap: 50px 30px;
   }

   &-widget {

      &-title {
         font-size: 22px;
         margin-bottom: 15px;
      }

      &-logo {
         display: block;
         max-width: 215px;
         margin-bottom: 20px;
      }

      .widget-disc {
         color: #878787;
         margin-bottom: 35px;
      }

      &-menu {
         li {
            &:not(:last-child) {
               margin-bottom: 10px;
            }

            a {
               font-family: var(--fd-font-pr-1);
               text-transform: capitalize;
               display: inline-block;
               font-weight: 500;
               color: #b6bdb9;
               transition: .3s;

               &:hover {
                  color: var(--fd-clr-pr-1);

                  transform: translateX(5px);
               }
            }
         }
      }
         
   }
}



.fd-social-link {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;

   .link-item {
      display: flex;
      flex: 0 0 auto;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background: #000;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #fff;
      transition: .3s;

      &:hover {
         background: var(--fd-clr-pr-1);
      }
   }
}

/* 
   footer-1-end
*/

