/* 
    hero-1-start
*/
.fd-hero-1 {

    &-area {
        padding-top: 210px;
        padding-bottom: 365px;
        position: relative;
        z-index: 1;

        @media #{$md} {
            padding-bottom: 165px;
        }

        @media #{$xs} {
            padding-bottom: 255px;
        }
    }


    &-app-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &-width {
            position: relative;
            z-index: 1;
            max-width: 1920px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }


        &-1 {
            width: 32%;
            position: absolute;
            top: 6%;
            left: -190px;

            @media #{$md} {
                left: -60px;
            }

            @media #{$xs} {
                left: 0px;
                width: 40%;
            }
        }
        
        &-2 {
            position: absolute;
            left: -6%;
            width: 15%;
            top: 48%;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.22);

            @media #{$md,$xs} {
                display: none;
            }
        }

        &-3 {
            position: absolute;
            left: 11%;
            bottom: 0;
            width: 14%;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.10);

            @media #{$xs} {
                width: 44%;
            }
        }

        &-4 {
            position: absolute;
            right: 3%;
            top: 15%;
            width: 16%;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.05);

            @media #{$xs} {
                top: 9%;
                width: 46%;
            }
        }

        &-5 {
            position: absolute;
            right: 0;
            top: 35%;
            width: 17%;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.15);

            @media #{$md,$xs} {
                display: none;
            }
        }

        &-6 {
            position: absolute;
            right: 12%;
            width: 15%;
            bottom: 16%;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.22);

            @media #{$xs} {
                display: none;
            }
        }

        &-7 {
            position: absolute;
            right: 1%;
            bottom: 9%;
            width: 9%;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.15);
            
            @media #{$xs} {
                bottom: 0%;
                width: 24%;
            }
        }
    }

    &-bg-illus {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 51%;
        z-index: -2;

        img {
            width: 100%;
            height: 100%;
        }
    }
    
    &-bg-shape {
        position: absolute;
        bottom: 0;
        z-index: -2;
        width: 100%;
        left: 0;
    }

    &-content {
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;

        @media #{$xl} {
            max-width: 790px;
        }

        @media #{$lg} {
            max-width: 650px;
        }



        .fd-subtitle-1 {
            margin-bottom: 30px;
        }

        .hero-title {
            font-size: 80px;
            margin-bottom: 20px;

            @media #{$xxl} {
                font-size: 70px;
            }

            @media #{$xl} {
                font-size: 60px;
            }

            @media #{$lg} {
                font-size: 50px;
            }

            @media #{$md} {
                font-size: 45px;
            }

            @media #{$xs} {
                font-size: 32px;
            }

            @media #{$sm} {
                font-size: 40px;
            }
        }

        .hero-disc {
            font-size: 25px;
            line-height: 1.6;
            color: #000;
            margin-bottom: 50px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 20px; 
            }
        }
    }
}
/* 
    hero-1-end
*/
/* 
    hero-2-start
*/
.fd-hero-2 {

    &-area {
        padding-top: 230px;
        padding-bottom: 60px;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 255px);
        z-index: -1;
    }



    &-subtitle {
        margin-bottom: 30px;
    }

    &-title {
        font-size: 100px;
        line-height: 1.1;
        color: #000;
        margin-bottom: 20px;

        @media #{$xl} {
            font-size: 80px;
        }

        @media #{$lg} {
            font-size: 70px;
        }

        @media #{$md} {
            font-size: 55px;
        }

        @media #{$xs} {
            font-size: 32px;
        }

        @media #{$sm} {
            font-size: 40px;
        }
    }

    &-disc {
        color: #4b4b4b;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    &-img {
        position: relative;
        z-index: 1;

        &-grid {
            display: grid;
            grid-template-columns: 1.3fr 1fr;
            gap: 30px;
            align-items: start;

            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }
        }

        &-big {
            border-radius: 20px;
            box-shadow: 0 2px 60px rgb(0 0 0 / 13%);
        }
    }

    &-inner-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;

        @media #{$xl,$lg} {
            gap: 15px;
        }

        @media #{$md} {
            gap: 15px;
        }

        @media #{$xs} {
            gap: 15px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$sm} {
            gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-1 {
            max-width: 110px;
            height: 100px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-2 {
            max-width: 155px;
            height: 230px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-3 {
            max-width: 155px;
            height: 220px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-4 {
            max-width: 180px;
            height: 110px;
            border-radius: 10px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-5 {
            max-width: 155px;
            height: 122px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-6 {
            max-width: 155px;
            height: 180px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }
    }


    &-rating {
        &-star {
            display: inline-flex;
            flex-wrap: wrap;
            font-size: 20px;
            color: #ffcc00;
            gap: 8px;
        }

        &-text {
            font-size: 15px;
        }
    }
    


}
/* 
    hero-2-end
*/
/* 
    hero-3-start
*/
.fd-hero-3 {
    &-area {
        padding-top: 250px;
        padding-bottom: 105px;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 29%);
        z-index: -1;
        background: #F4F4F4;
    }

    &-subtitle {
        background: transparent;
        padding: 0;
        border-radius: 0;
    }
    
    &-title {
        font-size: 75px;
        max-width: 675px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 45px;

        @media #{$lg} {
            font-size: 70px;
        }

        @media #{$md} {
            font-size: 60px;
        }

        @media #{$xs} {
            font-size: 32px;
        }

        @media #{$sm} {
            font-size: 50px;
        }
    }

    &-img {
        &-grid {
            background: #fff;
            border-radius: 20px;
            padding: 30px;
            display: grid;
            grid-template-columns: 1fr 1.6fr 1fr;
            grid-template-rows: 320px 220px;
            gap: 30px;

            @media #{$xs} {
                grid-template-columns: 1fr ;
                
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }
        }

        &-item {
            border-radius: 10px;

            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 2; 
                @media #{$xs} {
                    grid-area: unset; 
                }
            }

            &:nth-child(2) {
                grid-area: 1 / 2 / 3 / 3;
                @media #{$xs} {
                    grid-area: unset; 
                }
            }

            &:nth-child(3) {
                grid-area: 1 / 3 / 2 / 4;
                @media #{$xs} {
                    grid-area: unset; 
                }
            }

            &:nth-child(4) {
                grid-area: 2 / 1 / 3 / 2;
                @media #{$xs} {
                    grid-area: unset; 
                }
            }

            &:nth-child(5) {
                grid-area: 2 / 3 / 3 / 4;
                @media #{$xs} {
                    grid-area: unset; 
                }
            }
        }


        
    }

    &-btn {
        gap: 30px;

        &-link {
            max-width: 190px;
            transition: .3s;
            &:hover {
                transform: scale(90%);
            }
        }
    }
}
/* 
    hero-3-end
*/
/* 
    hero-4-start
*/

.fd-hero-4 {
    &-area {
        padding-top: 300px;
        padding-bottom: 285px;
    
        @media #{$md} {
            padding-top: 200px;
            padding-bottom: 150px;
        }
    
        @media #{$xs} {
            padding-top: 150px;
            padding-bottom: 85px;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(1x);
        background: #f4f4f5;

        &-circle-1 {
            display: block;
            width: 400px;
            height: 400px;
            background: #00abff;
            border-radius: 50%;
            filter: blur(130px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            animation: hero-4-bg-animation-1 20s linear infinite;
            transition: 1s;
        }

        &-circle-2 {
            display: block;
            width: 400px;
            height: 400px;
            background: #ff606b;
            border-radius: 50%;
            filter: blur(130px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            animation: hero-4-bg-animation-1 15s linear infinite;
            transition: 1s;
            z-index: 1;
        }

        &-circle-3 {
            display: block;
            width: 400px;
            height: 400px;
            background: #ffbe66;
            border-radius: 50%;
            filter: blur(130px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            transition: 1s;
            animation: hero-4-bg-animation-2 20s linear infinite;
            animation-delay: 1s;
        }

        &-circle-4 {
            display: block;
            width: 400px;
            height: 400px;
            background: #00e5ff;
            border-radius: 50%;
            filter: blur(130px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            animation: hero-4-bg-animation-2 15s linear infinite;
            transition: 1s;
            animation-delay: 1s;
            z-index: 1;
        }
    }
    
    &-subtitle {
        font-size: 24px;
        margin-bottom: 0px;

        @media #{$lg,$md} {
            margin-bottom: 0px;
        }

        @media #{$xs} {
            margin-bottom: 20px;
            font-size: 18px;
        }

        @media #{$sm} {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }

    &-title {
        margin-bottom: 10px;


        &-single {
            font-size: 170px;
            position: relative;
            z-index: 1;
            display: inline-block;
            transition: 1s;
            transition-delay: 0s;
            line-height: 1.3;

            @media #{$xxl} {
                font-size: 160px;
            }
    
            @media #{$xl} {
                font-size: 140px;
            }
    
            @media #{$lg} {
                font-size: 120px;
                margin-bottom: 0;
            }
    
            @media #{$md} {
                font-size: 90px;
                margin-bottom: 0;
            }
    
            @media #{$xs} {
                font-size: 30px;
                margin-bottom: 0;
            }
    
            @media #{$sm} {
                font-size: 50px;
                margin-bottom: 0;
            }
        }

        .swiper-container {
            .swiper-wrapper {
                height: 230px;

                @media #{$lg} {
                    height: 180px;
                }

                @media #{$md} {
                    height: 150px;
                }

                @media #{$sm} {
                    height: 150px;
                }

                @media #{$xs} {
                    height: 120px;
                }

                @media #{$sm} {
                    height: 100px;
                }

                .swiper-slide {
                    overflow: hidden;
                    &:is(.swiper-slide-active) {
                        .fd-hero-4-title-single {
                            transition-delay: 4.2s;
                            filter: blur(5px);
                        }
                    }
                }
            }
        }

    }

    &-disc {
        color: #4b4b4b;
        font-weight: 500;
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
}



    
@keyframes hero-4-bg-animation-1 {
    0% {
        transform: translate(-160%, -50%);
    }
    20% {
        transform: translate(90%, -50%);
    }
    40% {
        transform: translate(90%, 10%);
    }
    60% {
        transform: translate(-180%, 10%);
    }
    80% {
        transform: translate(-100% , 10%);
    }
    100% {
        transform: translate(-160%, -50%);
    }
}

    
@keyframes hero-4-bg-animation-2 {
    0% {
        transform: translate(100%, -50%);
    }
    20% {
        transform: translate(-100%, -50%);
    }
    40% {
        transform: translate(-100%, 10%);
    }
    60% {
        transform: translate(100%, 10%);
    }
    80% {
        transform: translate(-50% , -50%);
    }
    100% {
        transform: translate(100%, -50%);
    }
}

/* 
    hero-4-end
*/

/* 
    hero-5-start
*/

.fd-full-screen {
    height: 100vh;
    width: 100%;


}

.fd-full-screen-none {
    @media #{$lg,$md,$xs} {
        height: 100%;
    }
}

.fd-hero-5 {

    &-container {

        @media (min-width: 1600px) {
            max-width: 1584px;
        }
    }

    &-title {
        font-size: 125px;
        line-height: 1.2;
        margin-bottom: 70px;

        @media #{$xxl} {
            font-size: 100px;
        }

        @media #{$xl} {
            font-size: 90px;
        }

        @media #{$lg} {
            font-size: 80px;
        }

        @media #{$md} {
            font-size: 70px;
            margin-bottom: 10px;

        }

        @media #{$xs} {
            font-size: 50px;
            margin-bottom: 10px;

        }

        @media #{$sm} {
            font-size: 60px;
            margin-bottom: 10px;

        }

        &-2 {
            font-size: 125px;
            line-height: 1.2;  
            display: inline-block;

            @media #{$xxl} {
                font-size: 100px;
            }
    
            @media #{$xl} {
                font-size: 90px;
            }
    
            @media #{$lg} {
                font-size: 80px;
            }
    
            @media #{$md} {
                font-size: 70px;
            }
    
            @media #{$xs} {
                font-size: 50px;
            }
    
            @media #{$sm} {
                font-size: 60px;
            }

            span {
                display: inline-block;
                font-size: 15px;
                position: absolute;
                right: 0;
                top: 15px;
                animation: fd-h5-title2 1s linear infinite;

                @media #{$xs} {
                    top: 0px;
                }
            }
        }
    }

    &-content {
        .right {
            max-width: 640px;
            margin-left: auto;

            .inner-div {
                max-width: 500px;
                margin-left: auto;
            }
        }
    }

    &-disc {
        font-weight: 800;
        margin-bottom: 30px;
    }

    &-social {
        position: absolute;
        bottom: 6%;
        width: 100%;
        z-index: 1;

        &-wrap {
            gap: 30px;
        }
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
        display: flex;
        align-items: self-start;
        justify-content: center;
    }
}

@keyframes fd-h5-title2 {
    0% {
        color: var(--fd-clr-h-4);
        
    }

    50% {
        color: var(--fd-clr-pr-1);
    }
    100% {
        color: var(--fd-clr-h-4);
        
    }
}

/* 
    hero-5-end
*/
