/* 
    milestone-3-start
*/
.fd-milestone-3 {
    &-scn-title {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    &-counter {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        max-width: 1000px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;

        @media #{$xs} {
            justify-content: center;
        }

        &-item {
            .fd-counter-1-number {
                margin-bottom: 15px;
            }
        }
    }

}
/* 
    milestone-3-end
*/

/* 
    milestone-4-start
*/
.fd-milestone-4 {
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 20px;
        padding: 0 35px;

        @media #{$md} {
            padding: 0 20px;
        }

        @media #{$xs} {
            padding: 0 0px;
        }

        @media #{$sm} {
            padding: 0 15px;
        }

        img {
            border-radius: 20px;
        }
    }

    &-scn-title {
        font-size: 60px;

    
        @media #{$md} {
            font-size: 50px; 
        }
    
        @media #{$xs} {
            font-size: 30px; 
        }
    
        @media #{$sm} {
            font-size: 40px; 
        }
    }
}
/* 
    milestone-4-end
*/

