/* 
    overview-1-start
*/
.fd-overview-1 {
    &-scn-title {
        .scn-disc {
            max-width: 547px;
        }
    }

    &-content {
        padding-top: 50px;

        @media #{$lg} {
            padding-top: 0px;
        }

        @media #{$md,$xs} {
            padding-top: 0px;
            margin-bottom: 50px;
        }

        .fd-list-1  {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 18px;
            max-width: 520px;

            @media #{$lg} {
                grid-template-columns: 1fr ;
            }

            @media #{$xs} {
                grid-template-columns: 1fr ;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr ;
            }

            li {
                .icon {
                    background: #ececec;
                }
                color: #0e0e12;

                font-weight: 800;
                margin-bottom: 0;
            }
        }
    }

    &-right {
        padding-right: 55px;
    }

    &-img {
        height: 610px;
        border-radius: 20px;

        @media #{$xs} {
            height: 300px;
        }

        @media #{$sm} {
            height: 390px;
        }



        &-shpae {
            display: inline-block;
            height: 100%;
            width: 87%;
            position: absolute;
            right: 0;
            top: 55px;
            background: #db4d94;
            border-radius: 20px;
            z-index: -1;
        }
    }

    
}
/* 
    overview-1-end
*/
/* 
    overview-2-start
*/
.fd-overview-2 {

    &-top {
        display: grid;
        grid-template-columns: 1fr 2.1fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 30px;
            margin-bottom: 50px;
        }
    }

    &-img-1 {
        width: 330px;
        height: 330px;
        border-radius: 50%;

        @media #{$lg} {
            width: 230px;
            height: 230px;
        }

        @media #{$xs} {
            width: 240px;
            height: 240px;
        }

        @media #{$sm} {
            width: 330px;
            height: 330px;
        }
    }

    &-bottom {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        margin-top: -60px;

        @media #{$lg} {
            margin-top: 0px;
        }

        @media #{$md,$xs} {
            margin-top: 0px;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        &-shape-1 {
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: var(--fd-clr-pr-2);
            position: absolute;
            top: 0;
            left: -30px;
        }

        &-shape-2 {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: var(--fd-clr-pr-2);
            position: absolute;
            top: 5%;
            left: 52%;
        }
    }

    &-img-2 {
        width: 215px;
        height: 215px;
        border-radius: 50%;
    }

    &-img-3 {
        width: 485px;
        height: 485px;
        border-radius: 50%;
        margin-left: -30px;

        @media #{$xl} {
            width: 385px;
            height: 385px;
        }

        @media #{$lg} {
            width: 285px;
            height: 285px;
        }

        @media #{$xs} {
            width: 285px;
            height: 285px;
            margin-left: 0;
        }

        @media #{$sm} {
            width: 485px;
            height: 485px;
            margin-left: -30px;
        }
    }

    &-counter {
        .counter-number {
            font-size: 60px;
            line-height: 1;
            color: var(--fd-clr-h-3);


        }

        .counter-disc {
            font-size: 17px;
            color: var(--fd-clr-h-3);
            text-transform: capitalize;
            font-weight: 500;
        }
    }

    &-disc {
        margin-bottom: 30px;
    }

    &-list {
        li {
            .icon {
                background: #ececec;
            }

            color: var(--fd-clr-h-2);
            font-weight: 900;
        }
    }

    &-btn {
        gap: 30px;
    }
}


.fd-call-btn-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

    &-icon {
        font-size: 55px;
        color: var(--fd-clr-h-2);
        line-height: 1;
    }

    &-title {
        font-size: 17px;
        margin-bottom: 5px;
    }

    &-link {
        display: inline-block;
        transition: .3s ease-in-out;
        font-size: 24px;

        &:hover {
            color: var(--fd-clr-pr-2);
            transform: translateX(3px);
        }
    }
}




/* 
    overview-2-end
*/

/* 
    overview-3-stat
*/
.fd-overview-3 {

    &-content {
        max-width: 580px;
        padding-top: 80px;

        @media #{$md,$xs} {
            padding-top: 0px;
            margin-bottom: 50px;
        }

        &-iner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;

            .iner-img {
                max-width: 210px;
                height: 135px;
                flex: 0 0 auto;
                border-radius: 30px;
                
            }
        }
    }
    
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 570px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        li {
            margin-bottom: 0 !important;
        }
    }

    &-right {
        padding-left: 160px;

        @media #{$xs} {
            padding-left: 0;
        }
    }

    &-img {
        margin-right: -340px;

        @media #{$xxxl} {
            margin-right: -180px;
        }

        @media #{$xxl} {
            margin-right: -80px;
        }

        @media #{$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }

        &-2 {
            position: absolute;
            top: 30px;
            left: -25px;
            width: 59%;

            @media #{$md,$xs} {
                width: 30%;
                left: 0px;
            }

            img {
                filter: drop-shadow(0 2px 60px rgba(0, 0, 0, 0.13));
            }
        }
    }
}


/* 
    overview-3-end
*/

/* 
    overview-4-start
*/
.fd-overview-4 {

    &-scn-title {
        font-size: 60px;
        color: #051133;

        @media #{$md} {
            font-size: 50px; 
        }

        @media #{$xs} {
            font-size: 30px; 
        }

        @media #{$sm} {
            font-size: 40px; 
        }
    }

    &-disc {
        margin-bottom: 30px;
    }

    &-top {
        max-width: 1190px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 100px;

        @media #{$lg} {
            gap: 20px;
        }

        @media #{$md,$xs} {
            gap: 20px;
            flex-wrap: wrap;
        }

        .fd-overview-2-img-1 {
            flex: 0 0 auto;
        }
    }

    &-bottom {
        display: grid;
        grid-template-columns: .8fr 1fr 1.5fr;
        gap: 60px;
        margin-top: -50px;

        @media #{$lg} {
            margin-top: 60px;
        }

        @media #{$md,$xs} {
            margin-top: 0px;
            grid-template-columns: 1fr ;
        }

        &-shape-1 {
            position: absolute;
            left: -70px;
            top: -120px;
            width: 16%;

            @media #{$md,$xs} {
                display: none;
            }
        }

        &-shape-2 {
            position: absolute;
            left: 46%;
            top: -50px;
            z-index: 1;

            @media #{$md,$xs} {
                display: none;
            }
        }
    }

    &-img-2 {
        border-radius: 20px;
        box-shadow: 0 2px 60px rgba(0, 0, 0, 0.13);

        @media #{$md,$xs} {
            max-width: 318px;
        }
    }

    &-img-3 {
        img {
            filter: drop-shadow(0 2px 60px rgba(0, 0, 0, 0.13));
        }
    }
}
/* 
    overview-4-end
*/