/* 
    price-1-start
*/
.fd-price-1 {

    &-area {
        background: #131D1E;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    &-scn-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        display: grid;
        grid-template-columns: .8fr 1.2fr 1fr auto;
        align-items: center;
        background: #fff;
        padding: 50px 95px;
        border-radius: 140px;
        gap: 35px;

        @media #{$xl} {
            grid-template-columns: 0.7fr 1.1fr 1fr auto;
            padding: 50px 60px;
        }

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
            padding: 50px 35px;
            border-radius: 40px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
            padding: 50px 70px;
            border-radius: 140px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }


        .item-subtitle {
            font-size: 14px;
            color: var(--fd-clr-pr-1);
            margin-bottom: 5px;
        }

        .item-title {
            font-size: 35px;
            margin-bottom: 10px;

            @media #{$xl,$lg,$md} {
                font-size: 32px;
            }

            @media #{$xs} {
                font-size: 26px;
            }
        }

        .item-disc {
            color: #6e6e6e;

        }

        .fd-list-1 {
            li {
                font-weight: 900;
                color: #000;
                .icon {
                    background: #ececec;
                }
            }
        }

        .item-price {
            font-size: 70px;
            line-height: 1;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            span {
                font-size: 30px;
            }
        }

        .fd-pr-btn-1 {
            font-size: 16px;
            padding: 23px 33px;
        }
    }

    &-all-link {
        font-weight: 500;
        a {
            color: var(--fd-clr-pr-1);
            display: inline-block;
            transition: .3s;
            &:hover {
                transform: translateX(3px);
            }
        }
    }
}


/* 
    price-1-end
*/

/* 
    price-2-start
*/
.fd-price-2 {
    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 36%);
        z-index: -1;
    }

    &-scn-title {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    &-card {
        background: #3d76dd;
        border-radius: 20px;
        padding: 70px 65px;
        margin-bottom: 30px;

        @media #{$xs} {
            padding: 70px 20px;
        }

        @media #{$sm} {
            padding: 70px 65px;
        }

        .card-title {
            font-size: 35px;
            line-height: 1.28;
            margin-bottom: 23px;

            @media #{$xs} {
                font-size: 26px;
            }

            @media #{$sm} {
                font-size: 30px;
            }
        }

        .card-list {
            li {
                font-size: 20px;
                font-weight: 600;
                position: relative;
                z-index: 1;
                padding-left: 25px;
                margin-bottom: 13px;
    
                &::after {
                    content: "";
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
            }
        }
        
        .card-price {
            font-size: 60px;
            line-height: 1;
            margin-bottom: 30px;

            @media #{$xs} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 50px;
            }
        }

        .card-img {
            height: 225px;
        }
        
        &:is(.has-card-2) {
            background: var(--fd-clr-pr-2);
            position: relative;
            z-index: 1;

            .card-img {

                margin-bottom: -90px;

                img {
                    width: 67%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                }
            }
        }
        
    }


}


/* 
    price-2-end
*/