/* 
    services-2-start
*/
.fd-services-2 {
    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #080733;
    }

    &-scn-title {
        max-width: 610px;
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &-item {
        max-width: 290px;
        background: #111f36;
        border-radius: 20px;
        padding: 30px 30px;
        
        .item-icon {
            width: 88px;
            height: 88px;
            background: #f4f4ff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: var(--fd-clr-h-2);
            border-radius: 50%;
            margin-bottom: 25px;
        }

        .item-link {
            font-size: 24px;
            line-height: 1.37;
            margin-bottom: 12px;
            transition: .3s;

            @media #{$xs} {
                font-size: 20px;
            }

            @media #{$sm} {
                font-size: 22px;
            }

            &:hover {
                color: var(--fd-clr-pr-2);
            }
        }

        .item-btn {
            display: inline-block;
            line-height: 1;
            font-size: 20px;
            color: #fff;
            transition: .3s;

            &:hover {
                color: var(--fd-clr-pr-2);
            }
        }

        .text-right {
            text-align: right;
        }

    }
}



/* 
    services-2-end
*/



/* 
    services-4-start
*/
.fd-services-4 {
    &-scn-title {
        font-size: 80px;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 85px;
 

        @media #{$xl} {
            font-size: 70px; 
        }

        @media #{$lg} {
            font-size: 60px; 
        }

        @media #{$md} {
            font-size: 50px; 
        }

        @media #{$xs} {
            font-size: 30px; 
        }

        @media #{$sm} {
            font-size: 40px; 
        }
    }

    &-img {
        &-grid {
            display: grid;
            grid-template-columns: 1.3fr 1fr;
            gap: 30px;
            align-items: start;
    
            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }
        }

        &-big {
            border-radius: 20px;
            box-shadow: 0 2px 60px rgb(0 0 0 / 13%);
        }
    
    }




    &-inner-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;

        @media #{$xl,$lg} {
            gap: 15px;
        }

        @media #{$md} {
            gap: 15px;
        }

        @media #{$xs} {
            gap: 15px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$sm} {
            gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-1 {
            max-width: 110px;
            height: 100px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-2 {
            max-width: 155px;
            height: 230px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-3 {
            max-width: 155px;
            height: 220px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-4 {
            max-width: 180px;
            height: 110px;
            border-radius: 10px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-5 {
            max-width: 155px;
            height: 122px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-6 {
            max-width: 155px;
            height: 180px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }
    }

    &-qoute {
        margin-bottom: 40px;
    }
}


/* 
    services-4-end
*/

