/* 
    services-2-start
*/
.fd-services-2 {
    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #080733;
    }

    &-scn-title {
        max-width: 610px;
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &-item {
        max-width: 290px;
        background: #111f36;
        border-radius: 20px;
        padding: 30px 30px;
        
        .item-icon {
            width: 88px;
            height: 88px;
            background: #f4f4ff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: var(--fd-clr-h-2);
            border-radius: 50%;
            margin-bottom: 25px;
        }

        .item-link {
            font-size: 24px;
            line-height: 1.37;
            margin-bottom: 12px;
            transition: .3s;

            @media #{$xs} {
                font-size: 20px;
            }

            @media #{$sm} {
                font-size: 22px;
            }

            &:hover {
                color: var(--fd-clr-pr-2);
            }
        }

        .item-btn {
            display: inline-block;
            line-height: 1;
            font-size: 20px;
            color: #fff;
            transition: .3s;

            &:hover {
                color: var(--fd-clr-pr-2);
            }
        }

        .text-right {
            text-align: right;
        }

    }
}



/* 
    services-2-end
*/



/* 
    services-4-start
*/
.fd-services-4 {
    &-scn-title {
        font-size: 80px;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 85px;
 

        @media #{$xl} {
            font-size: 70px; 
        }

        @media #{$lg} {
            font-size: 60px; 
        }

        @media #{$md} {
            font-size: 50px; 
        }

        @media #{$xs} {
            font-size: 30px; 
        }

        @media #{$sm} {
            font-size: 40px; 
        }
    }

    &-img {
        &-grid {
            display: grid;
            grid-template-columns: 1.3fr 1fr;
            gap: 30px;
            align-items: start;
    
            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }
        }

        &-big {
            border-radius: 20px;
            box-shadow: 0 2px 60px rgb(0 0 0 / 13%);
        }
    
    }




    &-inner-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;

        @media #{$xl,$lg} {
            gap: 15px;
        }

        @media #{$md} {
            gap: 15px;
        }

        @media #{$xs} {
            gap: 15px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$sm} {
            gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-1 {
            max-width: 110px;
            height: 100px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-2 {
            max-width: 155px;
            height: 230px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-3 {
            max-width: 155px;
            height: 220px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-4 {
            max-width: 180px;
            height: 110px;
            border-radius: 10px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-5 {
            max-width: 155px;
            height: 122px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }

        &-6 {
            max-width: 155px;
            height: 180px;
            border-radius: 20px;
            box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.13);
        }
    }

    &-qoute {
        margin-bottom: 40px;
    }
}


/* 
    services-4-end
*/


/* 
    services-5-start
*/
.fd-services-5 {
    &-area {
        background: #000;
        padding-top: 90px;

        @media #{$md,$xs} {
            padding-bottom: 100px;
        }
    }

    &-item {
        width: 100%;
        display: grid;
        grid-template-rows: auto ;
        align-items: center;


        &-single {
            display: flex;
            align-content: center;
            height: 250px;

            @media #{$xs} {
                flex-wrap: wrap;
                height: 100%;
                gap: 30px;
                margin-bottom: 50px;
            }


            .item-content {
                align-self: center;
                max-width: 630px;
                padding-left: 100px;

                @media #{$lg,$md,$xs} {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            .item-subtitle {
                font-size: 14px;
                color: var(--fd-clr-pr-1);
                margin-bottom: 15px;
            }

            .item-title {
                font-size: 30px;
                color: #fff;
                transition: .3s;

                @media #{$xl,$lg} {
                    font-size: 25px;
                }

                @media #{$md,$xs} {
                    font-size: 22px;
                }

                &:hover {
                    color: var(--fd-clr-pr-1);
                }
            }

            .item-img {
                width: 55%;

                @media #{$xxl,$xl,$lg} {
                    width: 40%;
                }

                @media #{$xs} {
                    width: 100%;
                }

                &::after {
                    content: "";
                    width: 300px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
                }

            }

            .item-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 78px;
                height: 78px;
                border-radius: 50%;
                background: #303535;
                font-size: 30px;
                color: #c4ef17;
                position: absolute;
                right: -70px;
                top: 50%;
                transform: translateY(-50%);
                transition: .3s;
                opacity: 0;

                @media #{$lg,$md,$xs} {
                    display: none;
                }

                &:hover {
                    background: var(--fd-clr-pr-1);
                }
            }

            &:hover {
                .item-btn {
                    opacity: 1;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                .item-img::after {
                    left: 0;
                    background: linear-gradient(270deg, rgba(2, 0, 36, 0) 0%, rgb(0, 0, 0) 100%);
                }
            }
            
        }
    }
}


/* 
    services-5-end
*/

