

/* 
    heading-paragraph-css-start
*/

.fd-heading-1 {
    font-family: var(--fd-font-pr-1);
    line-height: 1.30;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }
}

.fd-heading-2 {
    font-family: var(--fd-font-pr-1);
    line-height: 1.16;
    color: var(--fd-clr-h-2);
    text-transform: capitalize;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }
}


.fd-heading-3 {
    font-family: var(--fd-font-pr-1);
    line-height: 1.30;
    color: var(--fd-clr-h-4);
    text-transform: capitalize;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }
}

.fd-heading-4 {
    font-family: var(--fd-font-pr-1);
    line-height: 1.16;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.fd-heading-5 {
    font-family: var(--fd-font-pr-2);
    line-height: 1.16;
    color: var(--fd-clr-h-4);
    text-transform: capitalize;
    margin-bottom: 0px;
}


.fd-para-1 {
    font-family: var(--fd-font-pr-1);
    font-weight: 400;
    line-height: 32px;
    font-size: 20px;
    color: #191917;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }

    &:is(.has-para-sm) {
        font-size: 18px;
        line-height: 28px;
    }
}

.fd-para-2 {
    font-family: var(--fd-font-pr-1);
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    color: var(--fd-clr-p-2);
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }
}

.fd-para-3 {
    font-family: var(--fd-font-pr-2);
    font-weight: 400;
    line-height: 35px;
    font-size: 17px;
    color: var(--fd-clr-h-4);
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }
}


.fd-subtitle-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: rgb(252 72 39 / 20%);
    padding: 8px 24px;
    border-radius: 100px;
    margin-bottom: 10px;

    &-text {
        font-family: var(--fd-font-pr-1);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 0;
        color: var(--fd-clr-pr-1);
        text-align: left;
    }

    &-icon {
        flex: 0 0 auto;
    }
}


.fd-subtitle-2 {
    display: inline-block;
    font-family: var(--fd-font-pr-1);
    font-weight: 900;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--fd-clr-pr-2);
    letter-spacing: 4px;
}


.fd-scn-title-1 {
    font-family: var(--fd-font-pr-1);
    line-height: 1.30;
    color: #000;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 67px;
    margin-bottom: 0px;



    @media #{$xxl} {
        font-size: 60px;
    }

    @media #{$xl} {
        font-size: 50px;
    }

    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 35px;
    }
    
    @media #{$xs} {
        font-size: 26px;
    }
    @media #{$sm} {
        font-size: 30px;
    }


    .has-clr-pr {
        color: var(--fd-clr-pr-1);
        display: inline-block;
    }

    &:is(.has-clr-black-3) {
        color: var(--fd-clr-h-4);

    }

    .has-scn-shape {
        position: relative;
        z-index: 1;

        svg {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;

            path {
                width: 100%;
            }
        }
    }

    
    &:is(.has-clr-white) {
        color: #fff;
    }
}

.fd-scn-title-2 {
    font-family: var(--fd-font-pr-1);
    line-height: 1.16;
    color: var(--fd-clr-h-3);
    text-transform: capitalize;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 0px;

    &:is(.has-clr-white) {
        color: #fff;
    }

    @media #{$xl} {
        font-size: 50px;
    }

    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 35px;
    }
    
    @media #{$xs} {
        font-size: 26px;
    }
    @media #{$sm} {
        font-size: 30px;
    }

}


.fd-scn-title-3 {
    font-family: var(--fd-font-pr-2);
    line-height: 1.4;
    color: var(--fd-clr-h-4);
    text-transform: capitalize;
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 5px;

    &:is(.has-clr-white) {
        color: #fff;
    }

    @media #{$xl} {
        font-size: 50px;
    }

    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 35px;
    }
    
    @media #{$xs} {
        font-size: 26px;
    }
    @media #{$sm} {
        font-size: 30px;
    }

}



/* 
    heading-paragraph-css-end
*/
