/* 
    workflow-1-start
*/
.fd-workflow-1 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @media #{$md,$xs} {
            position: unset;
        }
    }

    &-scn-title {
        border-bottom: 1px solid #243334;
        padding-bottom: 40px;
    }

    &-img {
        margin-left: -250px;

        @media #{$md,$xs} {
            margin-left: 0px;
        }

        &-wrap {
            position: relative;
            z-index: 1;
            padding-right: 30px;
        }

        &-il {
            width: 59%;
            height: 195px;
            border-radius: 20px;
            box-shadow: 0px 3px 81px 0px rgba(0, 0, 0, 0.05);
            position: absolute;
            top: 20px;
            left: -90px;

            @media #{$xxl,$xl,$lg,$md} {
                left: 0;
            }

            @media #{$xs} {
                display: none;
                left: 0;
            }
        }
    }

    &-content {
        .inner-div {
            display: grid;
            grid-template-columns: 1.8fr 1fr;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            .left {
                border-right: 1px solid #243334;
                padding-right: 30px;
                padding-top: 50px;

                @media #{$xs} {
                    padding-right: 0px;
                    border-right: none;
                    margin-bottom: 50px;
                }
            }
        }

        .scn-disc {
            margin-bottom: 35px;
        }
    }

    &-item-wrap {
        .fd-feature-1-item {
            padding-top: 30px;
            padding-left: 30px;

            @media #{$xs} {
                padding-left: 0px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #243334;
                padding-bottom: 30px;
            }
        }
    }
}


/* 
    workflow-1-end
*/

/* 
    workflow-2-start
*/
.fd-workflow-2 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        border-radius: 60px;
        overflow: hidden;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        background: #cfccfc;
        padding: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        gap: 60px;

        @media #{$xs} {
            padding: 65px 20px;
        }

        @media #{$sm} {
            padding: 65px;
        }
    }

    &-item-wrap {
        background: #d6d3ff;
        padding: 80px 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px 40px;



        @media #{$xl,$lg} {
            padding: 80px 50px;
        }

        @media #{$xs} {
            padding: 80px 20px;
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            padding: 80px 20px;
            grid-template-columns: 1fr 1fr;
        }

    }

    &-item {
        .item-icon {
            display: flex;
            width: 88px;
            height: 88px;
            background: #ffecef;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 40px;
            color: var(--fd-clr-h-2);
            margin-bottom: 30px;
        }

        .item-title {
            font-size: 22px;
            color: var(--fd-clr-h-3);
            transition: .2s;
            margin-bottom: 10px;

            &:hover {
                color: var(--fd-clr-pr-2);
                transform: translateX(3px);
            }
        }

        .item-disc {
            font-size: 17px;
        }

        &:nth-child(2) {
            .item-icon {
                background: #e4ffee;
            }
        }

        &:nth-child(3) {
            .item-icon {
                background: #fff6d3;
            }
        }

        &:nth-child(4) {
            .item-icon {
                background: #f4f4ff;
            }
        }
    }

}

/* 
    workflow-2-end
*/

/* 
    workflow-3-start
*/
.fd-workflow-3 {

    &-scn-title {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;

        @media #{$lg} {
            grid-template-columns: 1fr 1.5fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 6px;
            position: absolute;
            top: 50%;
            left: 0;
            background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(236,236,236,1) 5%, rgba(236,236,236,1) 53%, rgba(236,236,236,1) 95%, rgba(0,212,255,0) 100%);

            @media #{$md,$xs} {
                display: none;
            }
        }

        &::before {
            content: "";
            width: 6px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(236,236,236,1) 5%, rgba(236,236,236,1) 53%, rgba(236,236,236,1) 95%, rgba(0,212,255,0) 100%);

            
            @media #{$md,$xs} {
                display: none;
            }
        }
    }

    &-item {
        display: grid;
        gap: 120px;

        @media #{$md} {
            gap: 50px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$sm,$xs} {
            gap: 30px 50px;
            grid-template-columns: 1fr ;
        }


        &-single {
            .item-icon {
                width: 88px;
                height: 88px;
                background: #ffecef;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                color: var(--fd-clr-h-1);
                margin-bottom: 30px;

                &:is(.is-bg-yello) {
                    background: #fff6d3;
                }

            }

            .item-title {
                font-size: 22px;
                color: #242f51;
                margin-bottom: 8px;
            }
            
            .item-para {
                font-size: 17px;
                color: #616368;
                line-height: 26px;
                margin-bottom: 26px;
            }

            &:nth-child(2) {
                .item-icon {
                    background: #e4ffee;

                    
                    &:is(.is-bg-gay) {
                        background: #F4F4FF;
                    }
                }
            }
        }
    }

    &-illus-1 {
        width: 22%;
        position: absolute;
        top: -10px;
        left: 40px;
        border-radius: 10px;
        overflow: hidden;

        box-shadow: 0 2px 60px rgba(0, 0, 0, 0.13);

    }

    &-illus-2 {
        position: absolute;
        bottom: 25%;
        left: 50px;
    }

    &-illus-3 {
        width: 30%;
        position: absolute;
        bottom: 20%;
        right: 50px;

        img {
            filter: drop-shadow(0 2px 60px rgba(0, 0, 0, 0.13));
        }
    }
}



/* 
    workflow-3-end
*/